<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title></title>
  </head>
  <body>

    <div id="app">
      <!-- intestazione -->
      <header>
        <img :src="logo" alt="">
        <div class="input-button">
          <input type="text" v-model="itemList" placeholder=" inserire in lista...">
          <button v-on:click="add">Aggiungi alla lista</button>
        </div>
      </header>

      <!-- lista -->
      <div class="container">
        <div class="row" v-for="(item, index) in list">
          <div>{{item}}</div>
          <i v-on:click="remove(index)" class="fas fa-times" ></i>
        </div>
      </div>
    </div>


    <!-- script -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
